$main-color: #65269d;
$promo-color: #883eca;
$contrast-text-color: #ffffff;
$additional-font: "Montserrat", sans-serif;

body {
  margin: 0;
  padding: 0;

  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #5e606a;

  background-color: #ffffff;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  margin: 0;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: $contrast-text-color;
  border: none;
  border-radius: 25px;
  background: none;
  background-color: #fb0275;
  padding: 17px 41px;
  cursor: pointer;

  &:hover {
    background-color: #bc3070;
  }

  &:active {
    background-color: #a3014b;
  }
}

// шапка

.main-navigation {
  background-color: $main-color;
  color: $contrast-text-color;
  text-transform: uppercase;

  a {
    color: $contrast-text-color;
  }

  .logo {
    font-size: 18px;
    font-weight: 800;
    color: #ffffff;
    text-transform: uppercase;
  }

  .site-navigation-list {
    margin: 0;
    list-style: none;
  }

  .back-call {
    font-weight: 700;

    a {
      font-size: 16px;
    }

    .btn-back-call {
      font-size: 11px;
      font-weight: 800;
      background-color: transparent;
      border: 2px solid #ffffff;
      padding: 12px 23px;

      &:hover {
        color: $main-color;
        background-color: $contrast-text-color;
      }

      &:active {
        background-color: #e6e6e6;
      }
    }
  }
}

// Блок с промо
.company-info {
  background-color: $main-color;
  color: $contrast-text-color;

  .tagline {
    font-family: $additional-font;
    font-size: 60px;
    font-weight: 800;
    line-height: 60px;
    text-transform: uppercase;
  }

  .company-description {
    font-family: $additional-font;
    font-size: 32px;
    font-weight: 500;
    line-height: 32px;
  }

  .company-info-button {
    p {
      font-size: 16px;
    }
  }
}

// о нас
.section-header {
  font-family: $additional-font;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  color: #7f38bd;
  margin: 0;
}

.subheading {
  font-family: $additional-font;
  font-size: 32px;
  font-weight: 500;
  line-height: 32px;
  color: #383d52;
}

// услуги
.print-banners-list {
  margin: 0;
  padding: 0;
}

.call-to-action {
  max-width: 473px;
  width: 100%;
  height: 117px;
  background-color: $promo-color;
  color: $contrast-text-color;
  p {
    &:first-child {
      font-size: 13px;
      font-style: italic;
    }

    &:nth-child(2) {
      font-size: 16px;
      font-weight: 600;
    }
  }
}

.layout-1 {
  position: relative;
  max-width: 499px;
  width: 100%;
  height: 402px;
  background-color: #e8e2ed;
  border-radius: 8px;
}

.layout-2 {
  position: absolute;
  top: 12px;
  width: 538px;
  height: 433px;
  background-color: #bcb3bd;
  border-radius: 8px;
}

.print-banners-slider {
  position: absolute;
  top: -6px;
  width: 652px;
  height: 524px;
  margin: 0;
  padding: 0;
  list-style: none;
}
